# Slot 1: Creality Camera
SUBSYSTEM=="video4linux", ATTRS{product}=="*CREALITY*", ENV{ID_V4L_CAPABILITIES}==":capture:", SYMLINK+="stockcam"

# Slot 2: 3DO Nozzle Camera
SUBSYSTEM=="video4linux", ATTRS{product}=="*3DO*", ENV{ID_V4L_CAPABILITIES}==":capture:", SYMLINK+="nozzle_cam"
