########################################
# 3DO nozzle camera Available Settings
########################################
[gcode_shell_command v4l2-ctl]
command: v4l2-ctl -d  /dev/v4l/by-id/video2 
timeout: 5.0
verbose: True

[gcode_macro cam_settings]
gcode:
    RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-l"

########################################
# 3DO nozzle camera LED
########################################

[gcode_macro LED_ON]
gcode:
    RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-c backlight_compensation=1"

[gcode_macro LED_OFF]
gcode:
    RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-c backlight_compensation=0" 
