########################################
# 3DO nozzle camera Available Settings
########################################
[gcode_shell_command v4l2-ctl]
command: v4l2-ctl -d  /dev/v4l/by-id/video2 
timeout: 5.0
verbose: True

[gcode_macro cam_settings]
gcode:
    RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-l"

########################################
# 3DO nozzle camera LED
########################################

[gcode_macro LED_ON]
gcode:
    RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-c backlight_compensation=1"

[gcode_macro LED_OFF]
gcode:
    RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-c backlight_compensation=0"    

########################################
# Color
########################################

[gcode_macro saturation]
gcode:
    {% set saturation = params.SATURATION|default(70) %}
    RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-c saturation="{saturation}

[gcode_macro hue]
gcode:
    {% set hue = params.HUE|default(0) %}
    RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-c hue="{hue}

[gcode_macro sharpness]
gcode:
    {% set sharpness = params.SHARPNESS|default(1) %}
    RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-c sharpness="{sharpness}

########################################
# Exposure
########################################

[gcode_macro brightness]
gcode:
    {% set brightness_level = params.BRIGHTNESS|default(15) %}
    RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-c brightness="{brightness_level}

[gcode_macro contrast]
gcode:
    {% set contrast_level = params.CONTRAST|default(4) %}
    RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-c contrast="{contrast_level}

[gcode_macro gamma]
gcode:
    {% set gamma = params.GAMMA|default(115) %}
    RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-c gamma="{gamma_level}

[gcode_macro gain]
gcode:
    {% set gain = params.GAIN|default(0) %}
    RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-c gain="{gain_level}

[gcode_macro exposure_time_absolute]
gcode:
    {% set exposure_time_absolute = params.EXPOSURE|default(166) %}
    RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-c exposure_time_absolute="{exposure_time}

[gcode_macro exposure_auto]
gcode:
    RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-c exposure_auto=3"

[gcode_macro exposure_manual]
gcode:
    RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-c exposure_auto=1"

########################################
# Temperature
########################################

[gcode_macro white_balance_manual]
gcode:
    RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-c white_balance_temperature_auto=0"

[gcode_macro white_balance_auto]
gcode:
    RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-c white_balance_temperature_auto=1"

[gcode_macro white_balance_temperature]
gcode:
    {% set white_balance_temperature = params.WHITE|default(4600) %}
    RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-c white_balance_temperature="{temperature}

########################################
# Other Settings
########################################

[gcode_macro power_line_frequency_Off]
gcode:
    RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-c power_line_frequency=0"

[gcode_macro power_line_frequency_50Hz]
gcode:
    RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-c power_line_frequency=1"

[gcode_macro power_line_frequency_60Hz]
gcode:
    RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-c power_line_frequency=2"

########################################
# Focus
########################################

#[gcode_macro focus_manual]
#gcode:
#    RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-c focus_auto=0"

#[gcode_macro focus_auto]
#gcode:
#    RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-c focus_auto=1"

#[gcode_macro focus_absolute]
#gcode:
#    {% set focus_absolute = params.FOCUS|default(0) %}
#    RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-c focus_absolute="{focus_absolute}

########################################
# Zoom
########################################

#[gcode_macro zoom_in]
#gcode:
#    RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-c zoom_absolute=10"

#[gcode_macro zoom_mid]
#gcode:
#    RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-c zoom_absolute=5"

#[gcode_macro zoom_out]
#gcode:
#    RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-c zoom_absolute=0"
