#[gcode_shell_command set_cam_crop]
#command: v4l2-ctl -d /dev/v41/by-id/video2 --set-ctrl=pan_absolute=$0 --set-ctrl=tilt_absolute=$1 --set-ctrl=zoom_absolute=$2
#timeout: 2.0
#verbose: False

#[gcode_shell_command reset_cam_crop]
#command: v4l2-ctl -d /dev/v41/by-id/video2 --set-ctrl=pan_absolute=0 --set-ctrl=tilt_absolute=0 --set-ctrl=zoom_absolute=0
#timeout: 2.0
#verbose: False

#[gcode_macro SET_NOZZLE_CROP]
#description: Crop into 3DO stream using exact hardware step rounding
#gcode:
    # Get raw inputs or set defaults
#    {% set raw_pan = params.PAN|default(0)|int %}
#    {% set raw_tilt = params.TILT|default(0)|int %}
#    {% set zoom = params.ZOOM|default(60)|int %} # Defaulting to max crop window
    
    # Force Pan and Tilt to snap to the nearest 3600 step interval
#    {% set pan = ((raw_pan / 3600)|round(0)|int) * 3600 %}
#    {% set tilt = ((raw_tilt / 3600)|round(0)|int) * 3600 %}

    # Constrain values to your safe limits
#    {% set pan = [[-648000, pan]|max, 648000]|min %}
#    {% set tilt = [[-648000, tilt]|max, 648000]|min %}
#    {% set zoom = [[0, zoom]|max, 60]|min %}
    
#    RUN_SHELL_COMMAND CMD=set_cam_crop PARAMS="{pan} {tilt} {zoom}"

#[gcode_macro RESET_NOZZLE_CROP]
#description: Reset 3DO nozzle camera back to uncropped stream
#gcode:
#    RUN_SHELL_COMMAND CMD=reset_cam_crop


[gcode_shell_command v4l2-ctl]
command: v4l2-ctl -d  /dev/v4l/by-id/video2 
timeout: 5.0
verbose: True

########################################
# 3DO nozzle camera Available Settings
########################################

[gcode_macro cam_settings]
gcode:
    RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-l"

########################################
# 3DO nozzle camera LED
########################################

[gcode_macro LED_ON]
gcode:
    RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-c backlight_compensation=1"

[gcode_macro LED_OFF]
gcode:
    RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-c backlight_compensation=0"    

[gcode_macro TOGGLE_CAM_LED]
description: Smart toggle for the 3DO nozzle camera LED
# This initializes the variable so Klipper recognizes it
variable_state: 0
gcode:
    {% if printer["gcode_macro TOGGLE_CAM_LED"].state == 0 %}
        SET_GCODE_VARIABLE MACRO=TOGGLE_CAM_LED VARIABLE=state VALUE=1
        RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-c backlight_compensation=1"
        RESPOND TYPE=echo MSG="Camera LED turned ON"
    {% else %}
        SET_GCODE_VARIABLE MACRO=TOGGLE_CAM_LED VARIABLE=state VALUE=0
        RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-c backlight_compensation=0"
        RESPOND TYPE=echo MSG="Camera LED turned OFF"
    {% endif %}

[gcode_macro RESET_CAM_LED_STATE]
description: Force reset the macro toggle state if it gets out of sync
gcode:
    SET_GCODE_VARIABLE MACRO=TOGGLE_CAM_LED VARIABLE=state VALUE=0
    RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-c backlight_compensation=0"
    RESPOND TYPE=echo MSG="Camera LED state hard reset to OFF"

########################################
# Color
########################################

[gcode_macro saturation]
gcode:
    {% set saturation = params.SATURATION|default(70) %}
    RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-c saturation="{saturation}

[gcode_macro hue]
gcode:
    {% set hue = params.HUE|default(0) %}
    RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-c hue="{hue}

[gcode_macro sharpness]
gcode:
    {% set sharpness = params.SHARPNESS|default(1) %}
    RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-c sharpness="{sharpness}

########################################
# Exposure
########################################

[gcode_macro brightness]
gcode:
    {% set brightness_level = params.BRIGHTNESS|default(15) %}
    RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-c brightness="{brightness_level}

[gcode_macro contrast]
gcode:
    {% set contrast_level = params.CONTRAST|default(4) %}
    RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-c contrast="{contrast_level}

[gcode_macro gamma]
gcode:
    {% set gamma = params.GAMMA|default(115) %}
    RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-c gamma="{gamma_level}

[gcode_macro gain]
gcode:
    {% set gain = params.GAIN|default(0) %}
    RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-c gain="{gain_level}

[gcode_macro exposure_absolute]
gcode:
    {% set exposure_absolute = params.EXPOSURE|default(700) %}
    RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-c exposure_absolute="{exposure_absolute}

[gcode_macro exposure_auto]
gcode:
    RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-c exposure_auto=3"

[gcode_macro exposure_manual]
gcode:
    RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-c exposure_auto=1"

########################################
# Temperature
########################################

[gcode_macro white_balance_manual]
gcode:
    RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-c white_balance_temperature_auto=0"

[gcode_macro white_balance_auto]
gcode:
    RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-c white_balance_temperature_auto=1"

[gcode_macro white_balance_temperature]
gcode:
    {% set white_balance_temperature = params.WHITE|default(4600) %}
    RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-c white_balance_temperature="{temperature}

########################################
# Other Settings
########################################

[gcode_macro power_line_frequency_Off]
gcode:
    RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-c power_line_frequency=0"

[gcode_macro power_line_frequency_50Hz]
gcode:
    RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-c power_line_frequency=1"

[gcode_macro power_line_frequency_60Hz]
gcode:
    RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-c power_line_frequency=2"

########################################
# Focus
########################################

[gcode_macro focus_manual]
gcode:
    RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-c focus_auto=0"

[gcode_macro focus_auto]
gcode:
    RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-c focus_auto=1"

[gcode_macro focus_absolute]
gcode:
    {% set focus_absolute = params.FOCUS|default(0) %}
    RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-c focus_absolute="{focus_absolute}

########################################
# Zoom , Tilt , Pan
########################################

[gcode_macro zoom_in]
gcode:
    RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-c zoom_absolute=60"

[gcode_macro zoom_mid]
gcode:
    RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-c zoom_absolute=30"

[gcode_macro zoom_out]
gcode:
    RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-c zoom_absolute=0"

[gcode_macro Zoom_absolute]
gcode:
    {% set zoom_absolute = params.ZOOM|default(0) %}
    RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-c zoom_absolute="{zoom_absolute}

[gcode_macro Tilt_absolute]
gcode:
    {% set tilt_absolute = params.TILT|default(0) %}
    RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-c tilt_absolute="{tilt_absolute}

[gcode_macro Pan_absolute]
gcode:
    {% set pan_absolute = params.PAN|default(0) %}
    RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-c pan_absolute="{pan_absolute}
